<div class="container" style="margin: 40px auto;font-family: 'Microsoft YaHei'">
	<div ng-show="discoveryCtrl.target=='knowledge'">
		<div ng-show=discoveryCtrl.frontCfg.target=='default'>
			<div style="background-color: white" ng-show=discoveryCtrl.frontCfg.sliderActivate>
				<style type="text/css">
					.mSlider{width:960px; height:384px; position: relative;}
					.mSlider h2,.mSlider p{margin:0 !important;}
					.mSliderContainer{background-color: #CC6666;margin: 0 auto;height: 384px;overflow: hidden}
					.mSliderContainer > article{flex-direction: row;display: flex;align-items: center;position: absolute;width: 100%;}
					.mSliderContainer > article > .imgPart{border-radius: 0px;border: 0;display: inline-block;position: relative;width: 640px; height:384px;}
					.mSliderContainer > article > .imgPart > img{border-radius: 0px;display: block;width: 640px;height: 384px;}
					.mSliderContainer > article > .textPart{padding: 32px; width: 320px; height:384px;}
					.mSliderContainer > article > .textPart > h2{color: #FFF;font-size: 20pt;}
					.mSliderContainer > article > .textPart > .description{color: #FFF;height:220px;margin-top: 20px;font-size: 12pt;}
					.mSliderContainer > article > .textPart > ul{cursor: default;list-style: none;padding-left: 0;margin-top: 25px;}
					.mSliderContainer > article > .textPart > ul > li{display: inline-block;padding: 0 1em 0 0;height:40px;width:100px;vertical-align: middle;}
					.mSliderContainer > article > .textPart .link{color: #CC6666;font-size: 16pt;padding: 5px 20px;background-color: #FFFFFF;}
					.mSliderContainer > article > .textPart .link:hover{text-decoration: none;}
					/*.mSliderContainer > article > .textPart .link{background-color: transparent;box-shadow: inset 0 0 0 2px #E71D36;color: #E71D36 !important;-webkit-appearance: none;    cursor: pointer;display: inline-block;font-weight: 400;height: 2.85em;line-height: 2.95em;padding: 0 1.5em;text-align: center;text-decoration: none;white-space: nowrap;font-size: 1.2em;}
					/*.mSlider #shortcut{width: 100%; height:120px;margin-top: 12px;}
					.mSlider #shortcutContainer{margin: 0 auto;}
					.mSlider #shortcutContainer .cover{-webkit-transition: opacity 0.5s ease;transition: opacity 0.5s ease;background: grey;height:120px;}
					.mSlider #shortcutContainer .link{cursor: pointer;height: 120px;display: inline-block;}
					.mSlider #shortcutContainer .link:not(:last-child){margin-right: 1%}*/
				</style>
				<section class="mSlider">
					<div class="mSliderContainer">
						<article ng-repeat="obj in discoveryCtrl.frontdata.front_slider_obj track by $index" img-slider="ngSliderRepeatFinished2">
							<span class="image imgPart">
								<img ng-src="/images/frontobject/{{obj.bImg}}" alt="{{obj.name}}" />
							</span>
							<div class="textPart">
								<h2>{{obj.name}}</h2>
								<div class="description" ng-bind-html="obj.description"></div>
								<ul>
									<li class="pull-right">
										<a href="javascript:void(0);" class="button alt link" ng-click="discoveryCtrl.getObjDetail(obj)" data-index="{{$index}}">More</a>
									</li>
								</ul>
							</div>
						</article>
					</div>
				</section>
				<style type="text/css">
					.twoBanner{margin-top: 15px}
					.twoBanner .inner{display: inline-block;position: relative;height: 186px;width: 310px;cursor: pointer;}
					.twoBanner .inner:not(:last-child){margin-right: 15px;}
				</style>
				<div ng-show="discoveryCtrl.frontCfg.twobannerActivate" class="twoBanner">
					<div class="inner" ng-repeat="obj in discoveryCtrl.frontdata.front_twobanner_obj" ng-style="discoveryCtrl.banner_set_bg(obj)" ng-click="discoveryCtrl.getObjDetail(obj)"></div>
				</div>
			</div>
			<div ng-show="!discoveryCtrl.frontCfg.hideSearchBanner">
				<div class="pull-left" style="margin:20px 0 0 40px;padding:8px;background:rgba(0,0,0,0.2);"> 
					<input type="text" ng-model="discoveryCtrl.keyWord" ng-keyup="discoveryCtrl.searchKnowledge($event)" placeholder="{{'C012'|translate}}....." remark="尋找一門好知識" style="font-size:18px;width:280px;padding:8px;margin:0;border:0"/>
				</div>
				<div style="height:220px;background:url(/img/index_banner.png) no-repeat"></div>
			</div>
			<style type="text/css" media="screen">
				.tagTitle{position: relative;margin-bottom: 20px;border-bottom: 2px solid #ffcccc;font-size: 20pt;margin: 20pt auto;line-height: 30pt;}
				#tagContaint .thumbnail:hover{background-color:#ffcccc;cursor: pointer;}
			</style>
			<div ng-show="discoveryCtrl.frontCfg.tagfunctionActivate && discoveryCtrl.frontdata.front_tags.length > 0">
				<div ng-repeat="tag in discoveryCtrl.frontdata.front_tags | orderBy:'-seq':true" style="margin-top: 50px;">
					<div ng-show="tag.knowledges != 'null'">
						<div class="tagTitle">{{tag.name}}<div class="pull-right" ng-if="discoveryCtrl.frontdata.knowledges[tag.id].length > 6">more...</div></div>
						<div class="row" id="tagContaint" ng-init="discoveryCtrl.get_frontObject_knowledges(tag.id, tag.knowledges); tag.limit = 6">
							<div class="col-xs-4" ng-repeat="item in discoveryCtrl.frontdata.knowledges[tag.id] | limitTo: tag.limit" style="margin-top: 30px;">
								<div class="thumbnail" ng-click="discoveryCtrl.openKnowledge(item)" style="border: none;">
									<!--div class="card-hover" style="position:absolute"></div-->
									<img class="pull-left" style="width:96px;height:96px" ng-src="{{item.logo}}"/>
									<div style="margin-left:96px;height:96px;padding:0px 10px 0px 15px">
										<div style="font-size:16pt;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.name}}</div>
										<div class="text-muted" style="font-size:12pt;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.editor.full_name}}</div>
										<div class="text-muted" style="margin-top:10px">
											<span>
												<i class="fa fa-star" ng-style="{'color': item.average_rate >= 1 ? '#eeb929' : '#cacaca'}"></i>
												<i class="fa fa-star" ng-style="{'color': item.average_rate >= 2 ? '#eeb929' : '#cacaca'}"></i>
												<i class="fa fa-star" ng-style="{'color': item.average_rate >= 3 ? '#eeb929' : '#cacaca'}"></i>
												<i class="fa fa-star" ng-style="{'color': item.average_rate >= 4 ? '#eeb929' : '#cacaca'}"></i>
												<i class="fa fa-star" ng-style="{'color': item.average_rate == 5 ? '#eeb929' : '#cacaca'}"></i>
											</span>
											<span class="pull-right">
												<i class="fa fa-fw fa-user"></i> {{item.readers}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button ng-show="JSON.parse(tag.knowledges).length > 10" ng-click="tag.limit = tag.limit + 10">more...</button>
					</div>
				</div>
			</div>
			<div ng-show="!discoveryCtrl.frontCfg.hideDefaultDiscovery">
				<div style="margin:30px 0 15px">
					<div class="btn-group">
						<a class="btn btn-default" ng-class="{active: discoveryCtrl.orderType=='date', 'btn-primary': discoveryCtrl.orderType=='date'}" ng-click="discoveryCtrl.toggleOrder('date')"><span translate="C004" remark="最新發佈"></span></a>
						<a class="btn btn-default" ng-class="{active: discoveryCtrl.orderType=='subscribed', 'btn-primary': discoveryCtrl.orderType=='subscribed'}" ng-click="discoveryCtrl.toggleOrder('subscribed')"><span translate="C005" remark="熱門訂閱"></span></a>
						<a class="btn btn-default" ng-class="{active: discoveryCtrl.orderType=='rating', 'btn-primary': discoveryCtrl.orderType=='rating'}" ng-click="discoveryCtrl.toggleOrder('rating')"><span translate="C006" remark="評分"></span></a>
					</div>
					<div class="btn-group pull-right" style="margin-left:8px">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span translate="C002" remark="訂閱的頻道"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#!/discover/knowledge">
									<span translate="C001" remark="探索知識"></span>
								</a>
							</li>
							<li>
								<a href="#!/discover/channel/chle0ef90209f34">
									<span translate="C007" remark="編輯精選"></span>
								</a>
							</li>
							<li class="divider" ng-if="discoveryCtrl.channels.length>0"></li>
							<li ng-repeat="item in discoveryCtrl.channels">
								<a href="#!/discover/channel/{{item.uqid}}">
									<span>{{item.name}}</span>
									<span style="margin-left:8px" ng-show="item.uqid==discoveryCtrl.currentChannel.uqid"><i class="fa fa-fw fa-hand-left"></i></span>
								</a>
							</li>
							<li class="divider" ng-if="discoveryCtrl.channels.length>0&&discoveryCtrl.currentChannel.role=='member'"></li>
							<li ng-if="discoveryCtrl.channels.length>0&&discoveryCtrl.target!='knowledge'&&discoveryCtrl.target!='chle0ef90209f34'&&discoveryCtrl.currentChannel.role=='member'">
								<a ng-click="discoveryCtrl.currentChannel.unsubscribeAlert=true">
									<span translate="C003" remark="取消訂閱"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="col-xs-4" ng-repeat="item in discoveryCtrl.knowledges">
							<div class="thumbnail" ng-click="discoveryCtrl.openKnowledge(item)">
								<div class="card-hover" style="position:absolute"></div>
								<img class="pull-left" style="width:96px;height:96px" ng-src="{{item.logo}}"/>
								<div style="margin-left:96px;height:96px;padding:15px 10px 10px 15px">
									<div style="font-size:15px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.name}}</div>
									<div class="text-muted" style="font-size:13px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.editor.full_name}}</div>
									<div class="text-muted" style="margin-top:10px">
										<span>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 1 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 2 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 3 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 4 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate == 5 ? '#eeb929' : '#cacaca'}"></i>
										</span>
										<span class="pull-right">
											<i class="fa fa-fw fa-user"></i> {{item.readers}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="discoveryCtrl.start_index!=-1&&discoveryCtrl.keyWord==undefined" style="text-align:right">
						<a class="btn btn-primary" ng-click="discoveryCtrl.loadKnowledge(discoveryCtrl.start_index + 1)"><span translate="C008" remark="顯示更多"></span>...</a>
					</div>
				</div>
			</div>
		</div>
		<style type="text/css" media="screen">
			#objDetail .thumbnail:hover{background-color:#ffcccc;cursor: pointer;}
		</style>
		<div id="objDetail" ng-if="discoveryCtrl.frontCfg.target=='objDetail'">
			<div style="margin-bottom: 40px;font-size: 20pt;color: #350000;border-bottom: 1px solid #CC6666">
				{{select_obj.name}} - 介绍
			</div>
			<div style="height: 368px;" class="row">
				<img ng-src="/images/frontobject/{{select_obj.bImg}}" class="col-xs-6" style="height:288px;background-repeat:no-repeat">
				<div ng-bind-html="select_obj.description" class="col-xs-6" style="height: 288px;"></div>
			</div>
			<div style="font-size: 20px;border-bottom: 1px solid #CC6666;margin: 40px 0px;">
				课程清单
			</div>
			<div class="row" style="padding-bottom: 50px;border-bottom: 1px solid #CC6666;">
				<div class="col-xs-4" ng-repeat="item in discoveryCtrl.frontdata.knowledges[select_obj.id]">
					<div class="thumbnail" ng-click="discoveryCtrl.openKnowledge(item)">
						<div class="card-hover" style="position:absolute"></div>
						<img class="pull-left" style="width:96px;height:96px" ng-src="{{item.logo}}"/>
						<div style="margin-left:96px;height:96px;padding:15px 10px 10px 15px">
							<div style="font-size:15px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.name}}</div>
							<div class="text-muted" style="font-size:13px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.editor.full_name}}</div>
							<div class="text-muted" style="margin-top:10px">
								<span>
									<i class="fa fa-star" ng-style="{'color': item.average_rate >= 1 ? '#eeb929' : '#cacaca'}"></i>
									<i class="fa fa-star" ng-style="{'color': item.average_rate >= 2 ? '#eeb929' : '#cacaca'}"></i>
									<i class="fa fa-star" ng-style="{'color': item.average_rate >= 3 ? '#eeb929' : '#cacaca'}"></i>
									<i class="fa fa-star" ng-style="{'color': item.average_rate >= 4 ? '#eeb929' : '#cacaca'}"></i>
									<i class="fa fa-star" ng-style="{'color': item.average_rate == 5 ? '#eeb929' : '#cacaca'}"></i>
								</span>
								<span class="pull-right">
									<i class="fa fa-fw fa-user"></i> {{item.readers}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right" ng-click="discoveryCtrl.frontCfg.target='default'" style="margin-top: 30px;font-size: 16pt;color: #CC6666;cursor: pointer;border: 1px solid #CCCCCC;border-radius: 3px;padding: 5px;">回发现页</div>
		</div>
	</div>

	<div ng-if="discoveryCtrl.target!='knowledge'">
		<div style="margin-bottom:20px;background:#fff;border:1px solid #ddd">
			<div class="row">
				<div class="col-xs-3">
					<div style="text-align:center;padding:10px">
						<img ng-src="{{discoveryCtrl.currentChannel.logo}}" style="width:200px;height:200px"/>
					</div>
				</div>
				<div class="col-xs-9">
					<a class="btn btn-sm btn-danger pull-right" style="margin:4px" ng-if="discoveryCtrl.currentChannel.role=='member'" ng-click="discoveryCtrl.currentChannel.unsubscribeAlert=true">
						<span translate="C003" remark="取消訂閱"></span>
					</a>
					<h3>{{discoveryCtrl.currentChannel.name}}</h3>
					<div style="height:140px;padding:10px;overflow-y:auto">
						<div ng-bind-html="discoveryCtrl.currentChannel.description"></div>
						<div class="alert alert-danger" ng-show="discoveryCtrl.currentChannel.unsubscribeAlert">
							<span translate="C009" remark="是否取消訂閱此頻道"></span>
							<a class="bnt btn-link" style="padding:0;margin-left:4px" ng-click="discoveryCtrl.unsubscribe()">
								<span translate="C010" remark="確定"></span>
							</a>
							<a class="bnt btn-link" style="padding:0;margin-left:4px" ng-click="discoveryCtrl.currentChannel.unsubscribeAlert=false">
								<span translate="C011" remark="取消"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:20px">
			<div class="col-xs-12">
				<div class="btn-group pull-right" style="margin-left:4px">
					<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span translate="C002" remark="訂閱的頻道"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#!/discover/knowledge">
								<span translate="C001" remark="探索知識"></span>
							</a>
						</li>
						<li>
							<a href="#!/discover/channel/chle0ef90209f34">
								<span translate="C007" remark="編輯精選"></span>
							</a>
						</li>
						<li class="divider" ng-if="discoveryCtrl.channels.length>0"></li>
						<li ng-repeat="item in discoveryCtrl.channels">
							<a href="#!/discover/channel/{{item.uqid}}">
								<span>{{item.name}}</span>
								<span style="margin-left:8px" ng-show="item.uqid==discoveryCtrl.currentChannel.uqid"><i class="fa fa-fw fa-hand-left"></i></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="input-group pull-right" style="width:180px">
					<span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
					<input type="text" class="form-control" ng-model="discoveryCtrl.keyWord" ng-keyup="discoveryCtrl.searchKnowledge($event)">
				</div>
				<div>
					<span>
						<a href="javascript:;" ng-click="discoveryCtrl.loadCategory(null, true)" ng-if="!discoveryCtrl.currentChannel.view">
							<span>{{discoveryCtrl.currentChannel.name}}</span>
						</a>
						<span class="text-muted" ng-if="discoveryCtrl.currentChannel.view">{{discoveryCtrl.currentChannel.name}}</span>
					</span>
					<span ng-repeat="item in discoveryCtrl.currentChannel.categoryPath">
						<span class="divider"><i class="fa fa-fw fa-angle-double-right"></i></span>
						<a href="javascript:;" ng-click="discoveryCtrl.loadCategory(item, false)" ng-if="!item.view">
							<span>{{item.name}}</span>
						</a>
						<span class="text-muted" ng-if="item.view">{{item.name}}</span>
					</span>
				</div>
			</div>
		</div>

		<div style="margin-top:10px">
			<div ng-if="discoveryCtrl.knowledges==undefined">
				<div ng-if="discoveryCtrl.currentChannel.currentCategory.categories.length>0">
					<div class="row">
						<div class="col-xs-4" ng-repeat="item in discoveryCtrl.currentChannel.currentCategory.categories">
							<div class="thumbnail" ng-click="discoveryCtrl.loadCategory(item, false)">
								<div class="card-hover" style="position:absolute"></div>
								<div class="pull-left" style="padding-top:10px" ng-if="!item.logo">
									<i class="fa fa-fw fa-folder-o text-info" style="font-size:6em"></i>
								</div>
								<img class="pull-left" style="width:96px;height:96px" ng-src="{{item.logo}}" ng-if="item.logo"/>
								<div style="margin-left:108px;height:94px;padding:15px 10px 10px 15px">
									<div style="margin-top:4px">
										<div style="font-size:16px">{{item.name}}</div>
										<div class="text-muted" style="margin-top:4px">
											<span style="margin-right:8px" ng-if="item.category_size>0"><i class="fa fa-fw fa-folder-o"></i> {{item.category_size}}</span>
											<span ng-if="item.knowledge_size>0"><i class="fa fa-fw fa-book"></i> {{item.knowledge_size}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="discoveryCtrl.currentChannel.currentCategory.knowledges.length>0">
					<div class="row">
						<div class="col-xs-4" ng-repeat="item in discoveryCtrl.currentChannel.currentCategory.knowledges">
							<div class="thumbnail" ng-click="discoveryCtrl.openKnowledge(item)">
								<div class="card-hover" style="position:absolute"></div>
								<img class="pull-left" style="width:96px;height:96px" ng-src="{{item.logo}}"/>
								<div style="margin-left:96px;height:96px;padding:15px 10px 10px 15px">
									<div style="font-size:15px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.name}}</div>
									<div class="text-muted" style="font-size:13px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.editor.full_name}}</div>
									<div class="text-muted" style="margin-top:10px">
										<span>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 1 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 2 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 3 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate >= 4 ? '#eeb929' : '#cacaca'}"></i>
											<i class="fa fa-star" ng-style="{'color': item.average_rate == 5 ? '#eeb929' : '#cacaca'}"></i>
										</span>
										<span class="pull-right">
											<i class="fa fa-fw fa-user"></i> {{item.readers}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="discoveryCtrl.knowledges!=undefined">
				<div class="row">
					<div class="col-xs-4" ng-repeat="item in discoveryCtrl.knowledges">
						<div class="thumbnail" ng-click="discoveryCtrl.openKnowledge(item)">
							<div class="card-hover" style="position:absolute"></div>
							<img class="pull-left" style="width:96px;height:96px" ng-src="{{item.logo}}"/>
							<div style="margin-left:96px;height:96px;padding:15px 10px 10px 15px">
								<div style="font-size:15px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.name}}</div>
								<div class="text-muted" style="font-size:13px;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.editor.full_name}}</div>
								<div class="text-muted" style="margin-top:10px">
									<span>
										<i class="fa fa-star" ng-style="{'color': item.average_rate >= 1 ? '#eeb929' : '#cacaca'}"></i>
										<i class="fa fa-star" ng-style="{'color': item.average_rate >= 2 ? '#eeb929' : '#cacaca'}"></i>
										<i class="fa fa-star" ng-style="{'color': item.average_rate >= 3 ? '#eeb929' : '#cacaca'}"></i>
										<i class="fa fa-star" ng-style="{'color': item.average_rate >= 4 ? '#eeb929' : '#cacaca'}"></i>
										<i class="fa fa-star" ng-style="{'color': item.average_rate == 5 ? '#eeb929' : '#cacaca'}"></i>
									</span>
									<span class="pull-right">
										<i class="fa fa-fw fa-user"></i> {{item.readers}}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>