<div>
	<form method="post" class="form-horizontal" ng-submit="configCtrl.saveConfig()">
		<h4 translate="系統配置_系統參數">系統參數</h4>
		<div class="my-config-container">
			<div class="form-group">
				<label for="host_name" class="col-sm-3 control-label" translate="系統配置_hostname">Host Name</label>
				<div class="col-sm-9">
					<input id="host_name" name="host_name" type="text" class="form-control" autofocus ng-model="configCtrl.currentConfig.host_name" placeholder="http://140.126.57.223">
				</div>
			</div>
			<div class="form-group">
				<label for="languageSelect" class="col-sm-3 control-label" translate="系統配置_全局語系">全局語系</label>
				<div class="col-sm-4">
					<select class="form-control" id="languageSelect" ng-model="configCtrl.currentConfig.default_language" ng-options="lang.value as lang.label for lang in configCtrl.lang_group"></select>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_開啟啟動碼驗證">開啟啟動碼驗證</span>
				<div class="col-sm-9">
					<label class="checkbox-inline">
						<input id="need_activation" name="need_activation" type="checkbox" ng-model="configCtrl.currentConfig.need_activation">
						<span class="help-block" translate="系統配置_啟動碼驗證說明">啟動碼驗證說明</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_隱藏帳號等級圖示">隱藏帳號等級圖示</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="hide_account_type">
						<input id="hide_account_type" name="hide_account_type" type="checkbox" ng-model="configCtrl.currentConfig.hide_account_type">
						<span class="help-block" translate="系統配置_隱藏帳號等級說明">隱藏帳號等級說明</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_隱藏首頁功能簡介">隱藏首頁功能簡介</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="hide_sys_introduce">
						<input id="hide_sys_introduce" name="hide_sys_introduce" type="checkbox" ng-model="configCtrl.currentConfig.hide_sys_introduce">
						<span class="help-block" translate="系統配置_隱藏首頁功能簡介說明">隱藏位於登入頁面下方的系統功能介紹</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_隱藏說明文件">隱藏說明文件</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="hide_example_docs">
						<input id="hide_example_docs" name="hide_example_docs" type="checkbox" ng-model="configCtrl.currentConfig.hide_example_docs">
						<span class="help-block" translate="系統配置_隱藏說明文件說明">隱藏功能列表中的「說明文件」</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_啟用測試功能">啟用測試功能</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="enable_trial_account">
						<input id="enable_trial_account" name="enable_trial_account" type="checkbox" ng-model="configCtrl.currentConfig.enable_trial_account">
						<span class="help-block" translate="系統配置_啟用測試功能說明">啟用首頁「試試看」功能</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_啟用試用代碼功能">啟用試用代碼功能</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="enable_tempuse_code">
						<input id="enable_tempuse_code" name="enable_tempuse_code" type="checkbox" ng-model="configCtrl.currentConfig.enable_tempuse_code">
						<span class="help-block" translate="系統配置_啟用試用代碼功能說明">啟用首頁「訪客代碼」功能</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_啟用一般登入">啟用一般登入功能</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="enable_default_login">
						<input id="enable_default_login" name="enable_default_login" type="checkbox" ng-model="configCtrl.currentConfig.enable_default_login">
						<span class="help-block" translate="系統配置_啟用一般登入說明">啟用首頁「一般登入」功能</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_帳號數上限">帳號數上限</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="default_login_max">
						<input id="default_login_max" name="default_login_max" type="number" ng-model="configCtrl.currentConfig.default_login_max" placeholder="10" value="10" ng-disabled="!configCtrl.currentConfig.enable_default_login">
						<span class="help-block" translate="系統配置_帳號數上限說明">「一般登入」功能帳號數上限數量</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_啟用個人資訊">啟用個人資訊</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="enable_personal_page">
						<input id="enable_personal_page" name="enable_personal_page" type="checkbox" ng-model="configCtrl.currentConfig.enable_personal_page">
						<span class="help-block" translate="系統配置_啟用個人資訊說明">啟用個人資訊頁面</span>
					</label>
				</div>
			</div>
		</div>
		<h4 translate="系統配置_OAuth">OAuth</h4>
		<div class="my-config-container">
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_啟用OAuth功能">啟用OAuth功能</span>
				<div class="col-sm-9">
					<label class="checkbox-inline" for="enable_oauth_login">
						<input id="enable_oauth_login" name="enable_oauth_login" type="checkbox" ng-model="configCtrl.currentConfig.enable_oauth_login">
						<span class="help-block" translate="系統配置_啟用OAuth功能說明">允許使用者以OAuth登入</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="oauth_server_url" class="col-sm-3 control-label" translate="系統配置_OAuth_server_url">OAuth Server Url</label>
				<div class="col-sm-9">
					<input id="oauth_server_url" name="oauth_server_url" type="text" class="form-control" ng-model="configCtrl.currentConfig.oauth_server_url" placeholder="https://auth.ischoocenter.com/">
				</div>
			</div>
			<div class="form-group">
				<label for="oauth_client_id" class="col-sm-3 control-label" translate="系統配置_OAuth_client_id">OAuth Client ID</label>
				<div class="col-sm-9">
					<input id="oauth_client_id" name="oauth_client_id" type="text" class="form-control" ng-model="configCtrl.currentConfig.oauth_client_id" placeholder="f0a47e722f22ea90c3c336d53a1825d8">
				</div>
			</div>
			<div class="form-group">
				<label for="oauth_client_secret" class="col-sm-3 control-label" translate="系統配置_OAuth_client_secret">OAuth Client Secret</label>
				<div class="col-sm-9">
					<input id="oauth_client_secret" name="oauth_client_secret" type="text" class="form-control" ng-model="configCtrl.currentConfig.oauth_client_secret" placeholder="feb1bb7ef3deb65fbe9ee23232f44763f09d778ae7b027cba0373476a2f0e2cb">
				</div>
			</div>
			<div class="form-group">
				<label for="oauth_redirect_uri" class="col-sm-3 control-label" translate="系統配置_OAuth_redirect_uri">OAuth Redirect URI</label>
				<div class="col-sm-9">
					<input id="oauth_redirect_uri" name="oauth_redirect_uri" type="text" class="form-control" ng-model="configCtrl.currentConfig.oauth_redirect_uri" placeholder="http://140.126.57.223/oauth/ischool">
				</div>
			</div>
		</div>
		<h4 translate="系統配置_檔案上傳路徑">檔案上傳路徑</h4>
		<div class="my-config-container">
			<div class="form-group">
				<span class="col-sm-3 control-label" translate="系統配置_影片伺服器類型">影片伺服器類型</span>
				<div class="col-sm-9">
					<label class="radio-inline">
						<input type="radio" name="videoTypeOptions" id="localhost" value="localhost" ng-model="configCtrl.currentConfig.upload_video_type"> localhost
					</label>
					<label class="radio-inline">
						<input type="radio" name="videoTypeOptions" id="wowza" value="wowza" ng-model="configCtrl.currentConfig.upload_video_type"> wowza
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="upload_video_server" class="col-sm-3 control-label" translate="系統配置_影片伺服器位址">影片伺服器位址</label>
				<div class="col-sm-9">
					<input id="upload_video_server" name="upload_video_server" type="text" class="form-control" ng-model="configCtrl.currentConfig.upload_video_server" placeholder="http://140.126.57.157/vod/">
				</div>
			</div>
			<div class="form-group">
				<label for="upload_video_url" class="col-sm-3 control-label" translate="系統配置_影片路徑">影片路徑</label>
				<div class="col-sm-9">
					<input id="upload_video_url" name="upload_video_url" type="text" class="form-control" ng-model="configCtrl.currentConfig.upload_video_url" placeholder="/opt/1know_standalone_upload_file/video">
				</div>
			</div>
			<div class="form-group">
				<label for="upload_doc_url" class="col-sm-3 control-label" translate="系統配置_文件路徑">文件路徑</label>
				<div class="col-sm-9">
					<input id="upload_doc_url" name="upload_doc_url" type="text" class="form-control" ng-model="configCtrl.currentConfig.upload_doc_url" placeholder="/opt/1know_standalone_upload_file/doc">
				</div>
			</div>
			<div class="form-group">
				<label for="upload_image_url" class="col-sm-3 control-label" translate="系統配置_圖片路徑">圖片路徑</label>
				<div class="col-sm-9">
					<input id="upload_image_url" name="upload_image_url" type="text" class="form-control" ng-model="configCtrl.currentConfig.upload_image_url" placeholder="/opt/1know_standalone_upload_file/image">
				</div>
			</div>
			<div class="form-group">
				<label for="upload_icons_url" class="col-sm-3 control-label" translate="系統配置_其他圖片路徑">其他圖片路徑</label>
				<div class="col-sm-9">
					<input id="upload_icons_url" name="upload_icons_url" type="text" class="form-control" ng-model="configCtrl.currentConfig.upload_icons_url" placeholder="/opt/1know_standalone_upload_file/images">
					<p class="help-block" translate="系統配置_其他圖片路徑說明">其他圖片路徑說明</p>
				</div>
			</div>
		</div>
		<h4 translate="系統配置_控智">控智</h4>
		<div class="my-config-container">
			<div class="form-group">
				<label for="konzesys_activate" class="col-sm-3 control-label" translate="系統配置_啟用控智">啟用控智</label>
				<div class="col-sm-9">
					<input id="konzesys_activate" name="konzesys_activate" type="checkbox" ng-model="configCtrl.currentConfig.konzesys_activate">
				</div>
			</div>
			<div class="form-group">
				<label for="konzesys_url" class="col-sm-3 control-label" translate="系統配置_控智服務網址">控智服務網址</label>
				<div class="col-sm-9">
					<input id="konzesys_url" name="konzesys_url" type="text" class="form-control" ng-model="configCtrl.currentConfig.konzesys_url" placeholder="http://218.56.8.86:8080/api.php?action=">
				</div>
			</div>
		</div>
		<h4 translate="系統配置_七牛">七牛</h4>
		<div class="my-config-container">
			<div class="form-group">
				<label for="qiniu_activate" class="col-sm-3 control-label" translate="系統配置_啟用七牛">啟用七牛</label>
				<div class="col-sm-9">
					<input id="qiniu_activate" name="qiniu_activate" type="checkbox" ng-model="configCtrl.currentConfig.qiniu_activate">
				</div>
			</div>
			<div class="form-group">
				<label for="qiniu_access_key" class="col-sm-3 control-label" translate="系統配置_七牛_Access_key">Qiniu Access Key</label>
				<div class="col-sm-9">
					<input id="qiniu_access_key" name="qiniu_access_key" type="text" class="form-control" ng-model="configCtrl.currentConfig.qiniu_access_key" placeholder="bEA9JzrIBDkfXR5HPz6t1GnaEdNWw9erAip83Jwl">
				</div>
			</div>
			<div class="form-group">
				<label for="qiniu_secret_key" class="col-sm-3 control-label" translate="系統配置_七牛_Secret_key">Qiniu Secret Key</label>
				<div class="col-sm-9">
					<input id="qiniu_secret_key" name="qiniu_secret_key" type="text" class="form-control" ng-model="configCtrl.currentConfig.qiniu_secret_key" placeholder="5X39U2Kp12UQ9QB89UjVPEZBwTALwMxC4NV5uFf3">
				</div>
			</div>
			<div class="form-group">
				<label for="qiniu_domain" class="col-sm-3 control-label" translate="系統配置_七牛服務網址">七牛服務網址</label>
				<div class="col-sm-9">
					<input id="qiniu_domain" name="qiniu_domain" type="text" class="form-control" ng-model="configCtrl.currentConfig.qiniu_domain" placeholder="http://7xm74c.com1.z0.glb.clouddn.com/">
				</div>
			</div>
			<div class="form-group">
				<label for="qiniu_bucket_access_key" class="col-sm-3 control-label" translate="系統配置_七牛雲端_Access_key">Qiniu Bucket Access Key</label>
				<div class="col-sm-9">
					<input id="qiniu_bucket_access_key" name="qiniu_bucket_access_key" type="text" class="form-control" ng-model="configCtrl.currentConfig.qiniu_bucket_access_key" placeholder="hTEY-7K8l6dvao5OvzElzqwLywVK_GXgwsm04XuU">
				</div>
			</div>
			<div class="form-group">
				<label for="qiniu_bucket_secret_key" class="col-sm-3 control-label" translate="系統配置_七牛雲端_Secret_key">Qiniu Bucket Secret Key</label>
				<div class="col-sm-9">
					<input id="qiniu_bucket_secret_key" name="qiniu_bucket_secret_key" type="text" class="form-control" ng-model="configCtrl.currentConfig.qiniu_bucket_secret_key" placeholder="ZI_qtS_dnZKiZHYFzSEkkQvYGvBRpO4ou-MHqjX_">
				</div>
			</div>
		</div>
		<div class="text-center" style="margin: 5px;">
			<input class="btn btn-primary" name="commit" type="submit" value="{{'系統配置_儲存'|translate}}">
		</div>
	</form>
</div>

<div id="errorMessageModal" class="modal fade" style="z-index:1480">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h4 class="text-danger" translate="{{configCtrl.errMessage}}"></h4>
			</div>
		</div>
	</div>
</div>