<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#!/permission" data-match-route="/(:?permission.*)" class="list-group-item"><span translate="功能列_使用許可"></span></a>
                <a href="#!/config" data-match-route="/(:?config.*)" class="list-group-item"><span translate="功能列_系統配置"></span></a>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-view class="reveal-animate"></div>
        </div>
    </div>
</div>