<!DOCTYPE html>
<html>
<head>
  <title>易知主控台</title>
  <%= stylesheet_link_tag "/library/bootstrap/css/bootstrap.min.css" %>
  <script src="/library/jquery/jquery-1.11.0.min.js"></script>
  <%= javascript_include_tag "/library/bootstrap/js/bootstrap.min.js" %>
  <%= javascript_include_tag "/library/bootstrap/js/validator.min.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
